<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>LBS Persistent Storage</title>
	{% include 'lbs/style.html.twig' %}
	<style type="text/css"></style>
</head>
<body>
	<div class="mt-1 mb-1">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="float-left">
						<h5 class="h5 form-text mt-0 mb-0">LBS Persistent Storage</h5>
					</div>
					<div class="float-right">
						{% include 'lbs/navigation.html.twig' %}
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	{% include 'lbs/script.html.twig' %}
	<script type="text/javascript">
		$(function(){});
	</script>
</body>
</html>