<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Polygon</title>
	{% include 'lbs/style_alert.html.twig' %}
	{% include 'lbs/style_esri_map.html.twig' %}
</head>
<body>
	<div class="preload"></div>
	<div class="loader"></div>
	<div class="mt-1 mb-1">
		<div class="container-fluid">
			<form method="POST" action="{{base_url()}}polygon/add_polygon" enctype="multipart/form-data">
				<input type="hidden" name="CreateBy" id="user_add">
				<blockquote class="blockquote">
					<h2 class="mb-0">สร้าง พื้นที่การแจ้งเตือน</h2>
				</blockquote>
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="NAMEGROUP">ชื่อกลุ่ม</label>
								<input type="text" class="form-control" id="NAMEGROUP" name="Title" required>
							</div>
						</div>
						{# <div class="col-6">
							<div class="form-group">
								<label for="NAMEGROUP">ชื่อกลุ่ม</label>
								<input type="text" class="form-control" id="NAMEGROUP" name="Title" required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="BOUNDARY_LATLON">ละติจูด ลองจิจูด</label>
								<input type="text" class="form-control" id="BOUNDARY_LATLON" name="Description" required>
							</div>
						</div> #}
					</div>
					{# <div id="viewDiv" style="height: 550px;width: 100%;margin-top: 15px;"></div> #}
					<div class="mt-2 w-100" style="height:550px">
						<div id="view_div" class="view-div"></div>
					</div>
					<div class="form-group mt-2">
						<label for="BOUNDARY_LATLON">ละติจูด ลองจิจูด</label>
						<input type="hidden" class="form-control" id="BOUNDARY_DESC" name="Description" readonly>
						<textarea class="form-control" rows="3" id="BOUNDARY_LATLON" name="LatLon" readonly></textarea>
					</div>
					<div class="form-group">
						<label for="BOUNDARY_GROUP">ขอบเขต</label>
						<textarea class="form-control" id="BOUNDARY_GROUP" name="Polygon" rows="3" readonly></textarea>
					</div>
					<div class="form-group">
						<label class="mt-2 mb-0 user-select-none">สถานะ:</label>
						<input type="checkbox" name="IsActive" id="IsActive" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="เปิด" data-off="ปิด">
					</div>
					<hr>
					<div style="margin-bottom:30px;">
						<button type="submit" name="add_plg" id="add_plg" class="d-none">
							<i class="fas fa-check"></i>
							<span>ยืนยัน</span>
						</button>

						<button type="button" class="btn btn-primary mt-2 mb-0" data-toggle="modal" data-target="#submit_modal">
							<i class="fas fa-check"></i>
							<span>ยืนยัน</span>
						</button>

						<button type="button" id="btn_send_sms" class="btn btn-danger mt-2 mb-0" style="margin-left:25px;" data-toggle="modal" data-target="#reset_modal">
							<i class="fas fa-undo"></i>
							<span>ยกเลิก</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Cancel Confirm Modal -->
	<div class="modal fade" id="reset_modal" tabindex="-1" role="dialog" aria-labelledby="reset_modalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="reset_modalLabel">ยกเลิกข้อมูล</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					คุณต้องการยกเลิกข้อมูลใช่หรือไม่?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
					<a href="{{base_url()}}polygon/list_polygon" class="btn btn-primary">ยืนยัน</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Submit Confirm Modal -->
	<div class="modal fade" id="submit_modal" tabindex="-1" role="dialog" aria-labelledby="submit_modalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="submit_modalLabel">สร้างพื้นที่การแจ้งเตือน</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					คุณต้องการสร้างพื้นที่การแจ้งเตือนใช่หรือไม่?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" id="close_submit" data-dismiss="modal">ปิด</button>
					<a href="#" class="btn btn-primary" onclick="submitFunction()">ยืนยัน</a>
				</div>
			</div>
		</div>
	</div>

	{% include 'lbs/script_alert.html.twig' %}
	{% include 'lbs/script_esri_map.html.twig' %}

	<script>
		function submitFunction() {
			$('#submit_modal').modal('toggle');
			setTimeout(function() {
				document.getElementById("add_plg").click();
			}, 500);
		}
	</script>
</body>
</html>